.nav {
  background-color: #31a55c;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-logo {
  width: 100px;
  margin: 0 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  object-fit: contain;
}

.nav-search {
  display: flex;
  flex: 1;
}

.nav-searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.nav-searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd904d;
}
.nav-nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.nav-optionLineOne {
  font-size: 10px;
}

.nav-optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.nav-optionBasket {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-right: 10px;
}

.nav-productCount {
  margin-left: 10px;
  margin-right: 10px;
}
